/* GLOBAL STYLING */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-gray:#303841;
    --nav-red:#be3144;
    --work-blue:#45567d;
    --text-white:#f0f0f0;
}
body{
    /* background-color: var(--main-gray); */
    color:var(--text-white);
}
section{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: var(--text-white);
}
.back-to-menu{
    display: none;
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:3;
}
.back-to-menu a{
    color: #ff00007c;
}
.content-wrapper{
    max-width: 1920px;
    margin:0 auto;
}
/* NAVBAR STYLING */

nav{
    background-color:var(--nav-red);
    position: fixed;
    width:100%;
    
    display: flex;
    justify-content: flex-end;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav ul li:hover{
    background-color: rgba(160, 4, 4, 0.8);
}
nav ul li a{
    font-size: 20px;
    font-family: sans-serif;
    display: block;
    padding: 1rem;
    text-align: center;
    /* cursor: pointer; */
}

@media(max-width:480px){
    nav{
        position:relative;
        justify-content: center;
    }
    nav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-link{
        width:100vw;
        
    }
    nav ul li a{
        width:100%;
    }
    .back-to-menu{
        display: block;
    }
    
}

/* INTRO STYLING */
#introduction{
    background-color: var(--main-gray);
    height: 100vh;
    padding-top: 80px;
   
}
@media(max-width:480px){
    #introduction{
        padding-top:0px;
    }
}
/* PORTFOLIO STYLING */
#works{
    background-color: var(--work-blue);
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.works_image{
    width:100%;
    height:40%;
    object-fit:contain;
}


#contact{
    background-color: var(--main-gray);
}